Repository tupe12334/eslint-config-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): remove pnpm version conflict in workflow
  .claude/agents/docs-reviewer.md
  .claude/agents/gitops.md
  .claude/commands/tupe/boot.md
  .claude/commands/tupe/commit-push.md
  .claude/commands/tupe/container-pr.md
  .claude/commands/tupe/implement-and-validate.md
  .claude/commands/tupe/lib-opportunities.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/package-setup.md
  .claude/commands/tupe/project-onboard.md
  .claude/commands/tupe/validate-feature.md
  .github/workflows/ci.yml
Due: prettier --write, cspell lint --no-must-find-files

fix(ci): use test:ci instead of lint to exclude test files
  .github/workflows/ci.yml
Due: none

fix(prettier): exclude .claude and .kiro directories
  .prettierignore
Due: none

fix(ci): remove Node.js 18 from test matrix
  .github/workflows/ci.yml
Due: none

chore(package): update Node requirement and format command files
  .claude/agents/docs-reviewer.md
  .claude/agents/gitops.md
  .claude/commands/tupe/boot.md
  .claude/commands/tupe/container-pr.md
  .claude/commands/tupe/lib-opportunities.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/validate-feature.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(hooks): use test:ci in pre-push to exclude test files
  .husky/pre-push
Due: none

fix(ci): remove failing test step, keep validation only
  .github/workflows/ci.yml
Due: none

feat(import): enforce no empty lines between imports
  rules/plugin/import/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Release v1.8.4
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(package-setup): use modern ESLint CLI syntax for flat config
  .claude/commands/tupe/package-setup.md
Due: prettier --write, cspell lint --no-must-find-files

Release v1.8.5
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ddd): allow error-only files to skip spec requirement
  README.md
  configs/base-plugins.js
  rules/error-only-exports/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Release v1.8.6
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(jsx-classname): exempt title elements from className requirement
  rules/jsx-classname-required/index.js
  rules/jsx-classname-required/jsx-classname-required.spec.js
  scripts/test-runner.js
  test/classname/valid/edge-cases-valid.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Release v1.8.7
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): use defineConfig wrapper for main configuration
  configs/overrides.js
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Release v1.8.8
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): remove manual release scripts, CI/CD only
  .env.example
  .github/workflows/release.yml
  CLAUDE.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat: Add smart session revert command and related documentation
  .claude/agents/dev-container.md
  .claude/agents/docs-reviewer.md
  .claude/agents/e2e-tester.md
  .claude/agents/gitops.md
  .claude/agents/lint-fixer.md
  .claude/agents/package-maintainer.md
  .claude/commands/tupe/boot.md
  .claude/commands/tupe/commit-push.md
  .claude/commands/tupe/container-pr.md
  .claude/commands/tupe/e2e-testing.md
  .claude/commands/tupe/lib-opportunities.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/open-pr.md
  .claude/commands/tupe/package-setup.md
  .claude/commands/tupe/revert.md
  .claude/commands/tupe/summary.md
  .claude/commands/tupe/use-case-testing.md
  .claude/commands/tupe/validate-feature.md
  .gitignore
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add commitlint, knip, and commit-msg hook for package setup
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-push
  commitlint.config.mjs
  cspell.json
  knip.json
  package.json
  pnpm-lock.yaml
  rules/no-default-class-export/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(release): update release commit message format and husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .release-it.json
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

fix(config): add global ignores for non-JS/TS files
  eslint.config.js
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: update eslint-plugin-error to v1.3.0
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 1.9.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add PreToolUse hooks for Bash commands
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 1.9.1
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add additional Bash commands to PreToolUse hooks
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 1.9.2
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore: update eslint-plugin-ddd to v0.5.2
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 1.9.3
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add git push and WebFetch permissions to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add eslint-plugin-early-return recommended config
  index.js
  package.json
  pnpm-lock.yaml
  rules/error-only-exports/index.js
  scripts/test-runner.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): add git diff and pnpm install permissions to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

feat: move peerDependencies to dependencies for single-install experience
  index.js
  package.json
  plugins/index.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat: add centy configuration and update claude agent/command definitions
  .centy/.centy-manifest.json
  .centy/README.md
  .centy/config.json
  .centy/cspell.json
  .centy/docs/config.yaml
  .centy/issues/README.md
  .centy/issues/config.yaml
  .centy/organization.json
  .centy/templates/README.md
  .claude/agents/e2e-tester.md
  .claude/agents/lint-fixer.md
  .claude/commands/kiro/spec-design.md
  .claude/commands/kiro/spec-impl.md
  .claude/commands/kiro/spec-init.md
  .claude/commands/kiro/spec-requirements.md
  .claude/commands/kiro/spec-status.md
  .claude/commands/kiro/spec-tasks.md
  .claude/commands/kiro/steering-custom.md
  .claude/commands/kiro/steering.md
  .claude/commands/kiro/validate-design.md
  .claude/commands/kiro/validate-gap.md
  .claude/commands/kiro/validate-impl.md
  .claude/commands/tupe/boot.md
  .claude/commands/tupe/commit-push.md
  .claude/commands/tupe/container-pr.md
  .claude/commands/tupe/e2e-testing.md
  .claude/commands/tupe/implement-and-validate.md
  .claude/commands/tupe/lib-opportunities.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/open-pr.md
  .claude/commands/tupe/package-setup.md
  .claude/commands/tupe/project-onboard.md
  .claude/commands/tupe/revert.md
  .claude/commands/tupe/summary.md
  .claude/commands/tupe/ultrathink.md
  .claude/commands/tupe/use-case-testing.md
  .claude/commands/tupe/validate-feature.md
Due: prettier --write, cspell lint --no-must-find-files

chore: remove kiro settings configuration files
  .kiro/settings/rules/design-discovery-full.md
  .kiro/settings/rules/design-discovery-light.md
  .kiro/settings/rules/design-principles.md
  .kiro/settings/rules/design-review.md
  .kiro/settings/rules/ears-format.md
  .kiro/settings/rules/gap-analysis.md
  .kiro/settings/rules/steering-principles.md
  .kiro/settings/rules/tasks-generation.md
  .kiro/settings/rules/tasks-parallel-analysis.md
  .kiro/settings/templates/specs/design.md
  .kiro/settings/templates/specs/init.json
  .kiro/settings/templates/specs/requirements-init.md
  .kiro/settings/templates/specs/requirements.md
  .kiro/settings/templates/specs/research.md
  .kiro/settings/templates/specs/tasks.md
  .kiro/settings/templates/steering-custom/api-standards.md
  .kiro/settings/templates/steering-custom/authentication.md
  .kiro/settings/templates/steering-custom/database.md
  .kiro/settings/templates/steering-custom/deployment.md
  .kiro/settings/templates/steering-custom/error-handling.md
  .kiro/settings/templates/steering-custom/security.md
  .kiro/settings/templates/steering-custom/testing.md
  .kiro/settings/templates/steering/product.md
  .kiro/settings/templates/steering/structure.md
  .kiro/settings/templates/steering/tech.md
Due: prettier --write, cspell lint --no-must-find-files

chore: remove eslint-plugin-preact from knip ignoreDependencies
  knip.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): add pnpm knip and git restore permissions to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

feat(commands): add tupe Claude slash commands and update centy config
  .centy/.centy-manifest.json
  .centy/cspell.json
  .claude/commands/tupe/boot.md
  .claude/commands/tupe/commit-push.md
  .claude/commands/tupe/e2e-testing.md
  .claude/commands/tupe/lib-opportunities.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/open-pr.md
  .claude/commands/tupe/package-setup.md
  .claude/commands/tupe/project-onboard.md
  .claude/commands/tupe/summary.md
  .claude/commands/tupe/ultrathink.md
  .claude/commands/tupe/use-case-testing.md
  .claude/commands/tupe/validate-feature.md
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): add additional WebFetch permissions to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs}
  prettier --write: (any of: *.{js,jsx,mjs}) or (any of: *.{json,md})
  cspell lint --no-must-find-files: any of: *.{js,md,json}
