Repository tupe12334/eslint-config-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(ci): migrate to OIDC trusted publishing and single CI/CD workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  .release-it.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): add additional Bash commands for formatting and testing
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 2.0.0
  package.json
Due: prettier --write, cspell lint --no-must-find-files

refactor(classname): replace custom rule with eslint-plugin-jsx-classname strict config
  configs/overrides.js
  index.js
  package.json
  plugins/index.js
  pnpm-lock.yaml
  rules/index.js
  rules/jsx-classname-required/index.js
  rules/jsx-classname-required/jsx-classname-required.spec.js
  scripts/test-runner.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(settings): add 'Bash(ls:*)' permission to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

feat(rules): remove no-class-property-defaults rule
  configs/examples.js
  configs/overrides.js
  configs/test-files.js
  index.js
  rules/index.js
  rules/no-class-property-defaults/examples/invalid/array-default.ts
  rules/no-class-property-defaults/examples/invalid/boolean-default.ts
  rules/no-class-property-defaults/examples/invalid/complex-expression-default.ts
  rules/no-class-property-defaults/examples/invalid/function-default.ts
  rules/no-class-property-defaults/examples/invalid/number-default.ts
  rules/no-class-property-defaults/examples/invalid/object-default.ts
  rules/no-class-property-defaults/examples/invalid/private-default.ts
  rules/no-class-property-defaults/examples/invalid/readonly-default.ts
  rules/no-class-property-defaults/examples/invalid/static-default.ts
  rules/no-class-property-defaults/examples/invalid/string-default.ts
  rules/no-class-property-defaults/examples/valid/abstract-property.ts
  rules/no-class-property-defaults/examples/valid/conditional-initialization.ts
  rules/no-class-property-defaults/examples/valid/constructor-initialization.ts
  rules/no-class-property-defaults/examples/valid/method-initialization.ts
  rules/no-class-property-defaults/examples/valid/no-default-property.ts
  rules/no-class-property-defaults/examples/valid/readonly-no-default.ts
  rules/no-class-property-defaults/index.js
  rules/no-class-property-defaults/no-class-property-defaults.spec.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 2.1.0
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(manifest): update centyVersion to 0.8.4 and clean up timestamps
  .centy/.centy-manifest.json
  .centy/README.md
  .centy/archived/config.yaml
  .centy/config.json
  .centy/hooks.yaml
  .centy/issues/README.md
  .centy/issues/config.yaml
  .centy/templates/README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(rules): add eslint-plugin-switch-case with recommended config
  index.js
  package.json
  pnpm-lock.yaml
  scripts/test-runner.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(config): remove empty hooks array from config.json
  .centy/config.json
Due: prettier --write, cspell lint --no-must-find-files

feat(rules): replace tseslint recommended with strict-type-checked and stylistic-type-checked
  index.js
  scripts/test-runner.js
  tsconfig.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(rules): suppress no-empty-function in RuleTester no-op callbacks
  rules/switch-case-explicit-return/switch-case-explicit-return.spec.js
  rules/switch-case-functions-return-type/switch-case-functions-return-type.spec.js
  rules/switch-statements-return-type/switch-statements-return-type.spec.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(settings): add git stash and GitHub workflow permissions
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.0.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(settings): add GitHub API permission to settings
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

fix(ci): publish to npm after workflow_dispatch releases
  .github/workflows/ci.yml
Due: none

feat(settings): add additional WebFetch domains to permissions
  .claude/settings.json
Due: prettier --write, cspell lint --no-must-find-files

chore(deps): remove eslint-plugin-no-optional-chaining
  configs/test-files.js
  index.js
  package.json
  plugins/index.js
  pnpm-lock.yaml
  scripts/test-runner.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(plugins): add eslint-plugin-jsdoc recommended config
  configs/config-files.js
  configs/examples.js
  configs/test-files.js
  index.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(deps): add eslint-import-resolver-typescript
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix(jsdoc): add missing parameters and fix tag formatting
  rules/error-only-exports/index.js
  rules/max-file-lines/index.js
  rules/max-function-lines/index.js
  rules/no-inline-union-types/index.js
  rules/no-process-env-properties/index.js
  rules/no-record-literal-types/index.js
  rules/no-trailing-spaces/index.js
  rules/no-trivial-type-aliases/index.js
  rules/no-type-assertions/index.js
  rules/nullish-coalescing/index.js
  rules/plugin/class-export/index.js
  rules/plugin/n/no-process-env/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(jsdoc): upgrade to recommended-typescript-error config
  index.js
  rules/error-only-exports/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(deps): update all packages and fix ESLint 9 compatibility
  eslint.config.js
  index.js
  package.json
  plugins/index.js
  pnpm-lock.yaml
  rules/error-only-exports/index.js
  rules/no-default-class-export/index.js
  scripts/test-runner.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(jsdoc): escape inline @typescript tag in spec file comments
  rules/switch-case-explicit-return/switch-case-explicit-return.spec.js
  rules/switch-case-functions-return-type/switch-case-functions-return-type.spec.js
  rules/switch-statements-return-type/switch-statements-return-type.spec.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(knip): update configuration for knip v6 compatibility
  knip.json
Due: prettier --write, cspell lint --no-must-find-files

fix(deps): downgrade cspell to v9.8.0 for Node 20 compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.0.2
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(ci): ensure publish job checks out latest main branch after release
  .github/workflows/ci.yml
Due: none

chore(release): bump version to 3.0.3
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(deps): patch high-severity vulnerabilities in storybook and semver
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix(deps): remove redundant devDep and clean knip config
  knip.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.0.4
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(jsdoc): enforce JSDoc on ClassDeclaration in TypeScript files
  configs/typescript.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: require JSDoc on class declarations
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: require JSDoc on class declarations (#3)
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(readme): fix inaccurate install instructions
  README.md
Due: prettier --write, cspell lint --no-must-find-files

docs(readme): fix inaccurate install instructions (#5)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

fix: apply TypeScript config to .mts and .cts files
  configs/typescript.js
  index.js
  scripts/test-runner.js
  test/mts-cts/invalid.cts
  test/mts-cts/invalid.mts
  test/mts-cts/valid.cts
  test/mts-cts/valid.mts
  tsconfig.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(config): set eslint-plugin-react version detect for tsx/ts
  configs/tsx.js
  configs/typescript.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enforce strict equality (eqeqeq) in shared config
  README.md
  index.js
  test/eqeqeq-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs}
  prettier --write: (any of: *.{js,jsx,mjs}) or (any of: *.{json,md})
  cspell lint --no-must-find-files: any of: *.{js,md,json}
