Repository tupe12334/eslint-config-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{js,md,json}": ["cspell lint --no-must-find-files"]
}

feat(config): enable no-unreachable-loop in the shared rule set (#88)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(recommended): downgrade max-lines limits to warnings (#86)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.3.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

docs: fix outdated function-length limit and clone instructions
  CONTRIBUTING.md
  README.md
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.4.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

docs: fix outdated function-length limit and clone instructions (#359)
  CONTRIBUTING.md
  README.md
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.4.1
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore: add changesets tooling and CI check
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets.yml
Due: prettier --write, cspell lint --no-must-find-files

chore: adopt linecheck for per-file line-count enforcement
  .github/workflows/ci.yml
  linecheck.yml
Due: none

chore: adopt linecheck for per-file line-count enforcement (#362)
  .github/workflows/ci.yml
  linecheck.yml
Due: none

chore: add changesets tooling and CI check (#360)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/changesets.yml
Due: prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.4.2
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

docs: add cross-link to related project moadim.io (#194)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

docs: fix validation findings
  CLAUDE.md
  CONTRIBUTING.md
  RELEASING.md
  SETUP.md
  configs/README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(config): disallow yoda conditions (yoda) (#62)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-unnecessary-boolean-literal-compare (#202)
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-unnecessary-boolean-literal-compare-rule.test.js
  test/no-unnecessary-boolean-literal-compare/invalid-literal-compare.ts
  test/no-unnecessary-boolean-literal-compare/valid-direct-and-nullable.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/restrict-plus-operands in the shared rule set (#212)
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/restrict-plus-operands/invalid/mixed-plus-operands.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable react/no-unstable-nested-components in the shared rule set (#241)
  rules/plugin/react/index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs: fix validation findings (#363)
  CLAUDE.md
  CONTRIBUTING.md
  RELEASING.md
  SETUP.md
  configs/README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/explicit-module-boundary-types in the shared rule set
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/explicit-module-boundary-types-rule.test.js
  test/explicit-module-boundary-types/invalid-explicit-module-boundary-types.ts
  test/explicit-module-boundary-types/valid-explicit-module-boundary-types.ts
  test/export/valid/single-class-export.ts
  test/export/valid/single-function-export.ts
  test/export/valid/single-named-export.ts
  test/valid.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: fix pre-existing Prettier formatting drift in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write, cspell lint --no-must-find-files

chore: add moadim to the cspell dictionary
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-floating-promises in the shared rule set
  CONTRIBUTING.md
  cspell.json
  rules/plugin/typescript-eslint/index.js
  test/no-floating-promises-rule.test.js
  test/no-floating-promises/invalid-floating-promise.ts
  test/no-floating-promises/valid-floating-promise.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: add missing changesets
  .changeset/fix-validation-findings-setup-docs.md
  .changeset/moadim-io-crosslink.md
  .changeset/no-unnecessary-boolean-literal-compare.md
  .changeset/no-unstable-nested-components.md
  .changeset/restrict-plus-operands.md
  .changeset/yoda-rule-enabled.md
Due: prettier --write, cspell lint --no-must-find-files

chore: add missing changesets (#366)
  .changeset/fix-validation-findings-setup-docs.md
  .changeset/moadim-io-crosslink.md
  .changeset/no-unnecessary-boolean-literal-compare.md
  .changeset/no-unstable-nested-components.md
  .changeset/restrict-plus-operands.md
  .changeset/yoda-rule-enabled.md
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable unicorn/no-array-callback-reference
  exports/incremental.js
  exports/recommended-incremental.js
  index.js
  test/no-array-callback-reference-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(config): set no-array-callback-reference to error
  .changeset/enable-no-array-callback-reference.md
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files
