Repository tupe12334/eslint-config-agent: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{js,md,json}": ["cspell lint --no-must-find-files"]
}

feat(config): enable no-undef-init in the shared rule set
  index.js
  test/no-undef-init-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(recommended): downgrade max-lines rules from error to warn (#335)
  configs/length-rule-scope.js
  configs/overrides.js
  exports/recommended.d.ts
  exports/recommended.js
  scripts/lib/assert-rule-checks.js
  scripts/test-recommended.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable no-useless-rename in the shared rule set (#336)
  README.md
  index.js
  scripts/test-runner.js
  test/no-useless-rename-rule.test.js
  test/no-useless-rename/invalid-no-useless-rename.ts
  test/no-useless-rename/valid-no-useless-rename.ts
  test/no-useless-rename/value.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-use-before-define in the shared rule set (#338)
  cspell.json
  index.js
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-use-before-define-rule.test.js
  test/no-use-before-define/invalid-no-use-before-define.ts
  test/no-use-before-define/valid-no-use-before-define.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(react): enable react/jsx-key in the shared rule set (#342)
  rules/plugin/react/index.js
  test/jsx-key-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable no-undef-init in the shared rule set (#344)
  index.js
  test/no-undef-init-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

ci: add scheduled release safeguard to prevent un-released fixes
  .github/workflows/scheduled-release.yml
Due: none

feat(config): enable @typescript-eslint/no-unused-private-class-members in the shared rule set
  index.js
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-unused-private-class-members-rule.test.js
  test/no-unused-private-class-members/invalid-no-unused-private-class-members.ts
  test/no-unused-private-class-members/valid-no-unused-private-class-members.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable ddd/no-logic-in-index in the shared rule set
  README.md
  configs/base-plugins.js
  scripts/test-runner.js
  test/no-logic-in-index-rule.test.js
  test/no-logic-in-index/invalid/index.ts
  test/no-logic-in-index/valid/greeting.ts
  test/no-logic-in-index/valid/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

ci: add scheduled release safeguard to prevent un-released fixes (#346)
  .github/workflows/scheduled-release.yml
Due: none

feat(config): enable @typescript-eslint/no-unnecessary-condition in the shared rule set
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-unnecessary-condition-rule.test.js
  test/no-unnecessary-condition/invalid-no-unnecessary-condition.ts
  test/no-unnecessary-condition/valid-no-unnecessary-condition.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable no-constant-binary-expression in the shared rule set
  index.js
  test/no-constant-binary-expression-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): publish directly from scheduled-release.yml
  .github/workflows/scheduled-release.yml
Due: none

feat(config): enable @typescript-eslint/no-unnecessary-condition in the shared rule set (#352)
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-unnecessary-condition-rule.test.js
  test/no-unnecessary-condition/invalid-no-unnecessary-condition.ts
  test/no-unnecessary-condition/valid-no-unnecessary-condition.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): publish directly from scheduled-release.yml (#356)
  .github/workflows/scheduled-release.yml
Due: none

feat(config): enable no-constant-binary-expression in the shared rule set (#354)
  index.js
  test/no-constant-binary-expression-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-unused-private-class-members
  index.js
  rules/plugin/typescript-eslint/index.js
  test/no-unused-private-class-members-rule.test.js
  test/no-unused-private-class-members/invalid-unused-private-class-members.ts
  test/no-unused-private-class-members/valid-unused-private-class-members.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-unused-private-class-members (#357)
  index.js
  rules/plugin/typescript-eslint/index.js
  test/no-unused-private-class-members-rule.test.js
  test/no-unused-private-class-members/invalid-unused-private-class-members.ts
  test/no-unused-private-class-members/valid-unused-private-class-members.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(release): bump version to 3.2.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable import/no-useless-path-segments in the shared rule set (#208)
  scripts/test-runner.js
  test/import-path-segments/invalid/useless-segments.ts
  test/import-path-segments/valid/clean.ts
  test/import-path-segments/valid/target.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(exports): expose ./package.json in the exports map (#152)
  scripts/test-exports.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable ddd/no-logic-in-index in the shared rule set (#350)
  README.md
  configs/base-plugins.js
  scripts/test-runner.js
  test/no-logic-in-index-rule.test.js
  test/no-logic-in-index/invalid/index.ts
  test/no-logic-in-index/valid/greeting.ts
  test/no-logic-in-index/valid/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-unused-private-class-members in the shared rule set (#348)
  scripts/test-runner.js
  test/no-unused-private-class-members/invalid-no-unused-private-class-members.ts
  test/no-unused-private-class-members/valid-no-unused-private-class-members.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/no-redeclare in the shared rule set (#340)
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/no-redeclare-rule.test.js
  test/no-redeclare/invalid-no-redeclare.ts
  test/no-redeclare/valid-no-redeclare.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable prefer-rest-params and prefer-spread in the shared rule set (#310)
  cspell.json
  index.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable symbol-description in the shared rule set (#306)
  index.js
  test/symbol-description-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(config): enable no-new-wrappers in the shared rule set (#303)
  README.md
Due: prettier --write, cspell lint --no-must-find-files

feat(config): enable prefer-exponentiation-operator in the shared rule set (#287)
  index.js
  test/prefer-exponentiation-operator-rule.test.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(react): enable react/jsx-no-useless-fragment rule (#279)
  .lintstagedrc.json
  test/classname/invalid/invalid-classname.jsx
  test/classname/valid/valid-classname.jsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/strict-boolean-expressions in the shared rule set (#228)
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/strict-boolean-expressions-rule.test.js
  test/strict-boolean/invalid.ts
  test/strict-boolean/valid.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/prefer-readonly in the shared rule set (#197)
  README.md
  rules/plugin/typescript-eslint/index.js
  scripts/test-runner.js
  test/import-export-rules.ts
  test/prefer-readonly-rule.test.js
  test/prefer-readonly/invalid-mutable-member.spec.ts
  test/prefer-readonly/invalid-mutable-member.ts
  test/prefer-readonly/valid-readonly-member.spec.ts
  test/prefer-readonly/valid-readonly-member.ts
  test/required-exports/invalid/default-exported-class.ts
  test/required-exports/invalid/non-exported-class.ts
  test/required-exports/valid/exported-class.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(config): enable @typescript-eslint/method-signature-style in the shared rule set (#186)
  scripts/test-runner.js
  test/method-signature-style/invalid/method-shorthand.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files
